@import './base';

html, body {
	// height: 100%;
	margin: 0;
}

body {
	min-width: 320px;
	position: relative;
	color: $text_color;
	line-height: 1.2;
	font-size: $font_size;
   font-weight: normal;
   font-family: $default_family;
	overflow-x: auto;
   opacity: 1;
   background: #efefef;
   letter-spacing: -0.5px;
}

.page-top {
	position: fixed;
	bottom: 20px;
	right: -100px;
	z-index: 99;
	cursor: pointer;
	@include circle(50px);
	background-color: $accent;
	font-size: 25px;
	color: #ffffff;
	opacity: .3;
	transition: all .5s ease-out;	

	&.active {		
		right: 20px;			
	}

	&:hover {
		opacity: 1;
	}
}

.page-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.link {
    font-weight: bold;
}

.logo {
    display: inline-block;
}

.phone-block {
    text-align: center;
    a {
        display: block;
        margin: 0;
    }

    .link {
        margin-top: 10px;
        display: inline-block;
        text-decoration: underline;
    }
}

.text-phone {
   font-size: 16px;
   font-weight: 500;
   color: $accent;
}

.header {
   position: fixed;
   background-color: #efefef;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 98;
   padding: 10px 0;
   font-size: 16px;

   &-title {
      font-weight: normal;
      max-width: 200px;
   }

   &-content {
      display: flex;
      align-items: center;
   }

   &-support, &-sale {
      p {
         margin: 0;
      }
   }
   &-support {
      margin-right: 75px;
   }
   &-phone {
      display: none;
   }
   .logo {
      margin-right: 25px;
   }
   .button {
      margin-left: 35px;
   }
}

.hide {
   display: none !important;
}

.footer {
    background-color: $accent;
   &-title {
      font-weight: 400;
      max-width: 220px;
      font-size: 14px;
      margin: 0;
   }
   .logo {
      margin-right: 30px;
   }
    &-content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 5px 0;
    }

   .vopros-button {
      margin: 0 0 0 50px;
      .vopros {
      margin-bottom: 10px;
      font-size: 16px;
      text-align: center;
      }
      .button {
         width: 226px;
      }
   }
    

}

.arrow {
   &-left, &-right {
      position: relative;
      text-decoration: underline;
      
      &:after {
         content: "";
         position: absolute;
         width: 32px;
         height: 16px;
         top: 50%;
         transform: translateY(-50%);
      }
   }

   &-left {
      margin-left: 37px;
      color: $accent;
      &:after {
         left: -37px;
         background-image: url('../img/arrow-left.png');  
      }
   }

   &-right {
      margin-right: 37px;
      &:after {
         right: -37px;
         background-image: url('../img/arrow-right.png');  
      }
   }
}

.section {
   text-align: center;
   padding: 140px 0 50px;
   flex-grow: 1;
   display: flex;

   &-title {
      font-family: $title_family;
      font-size: 30px;
      font-weight: 500;
      color: $title_color;
      margin: 0 auto 40px;
      text-align: center;

      .inverse & {
            color: #fff;
      }
   }

   &-main {
      justify-content: space-between;
      padding-bottom: 0;

      &-image {
        display: flex;
        align-items: center;
      }

      .main {
         display: flex;
         flex-direction: column;
         max-width: 610px;
         text-align: left;
         &-title {
            font-size: 36px;
            font-weight: 500;
            margin-bottom: 30px;
            span {
               color: $accent;
            }
         }
         .button {
            font-size: 24px;
         }

         &-footer {
            display: flex;
            justify-content: space-between;
            margin-left: -40px;
         }
         &-block {
            background-color: $accent;
            text-align: center;
            border-bottom-left-radius: 0px !important;
            border-bottom-right-radius: 0px !important;

            &-1 {
               padding: 10px 15px;
               border-radius: 80px;
               min-width: 250px;
            }
            &-2 {
               padding: 10px 15px;
               border-radius: 120px;
               max-width: 360px;
            }
            &-title {
               font-size: 48px;
               font-weight: 900;
               color: #fff;
            }
            &-text {
               font-size: 16px;
               letter-spacing: -1px;
            }
         }
      }
   }

   &-podarok {
 
      &-content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .checkbox {
        margin-bottom: 15px;
      }

      .podaroks {
        flex-grow: 1;
        margin-right: 70px;         
      }

      .podarok {
        &-title {
          font-weight: 500;
          margin-bottom: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          &::after {
            content: "";
            display: inline-block;
            width: 21px;
            height: 29px;
            background-image: url('../img/castle.png');
            margin-left: 10px;
          }
        }

        &-1 {
            width: 240px;
            margin-bottom: 10px;
            
            img {
              margin-bottom: 10px;
            }
        }
        &-2 {
            max-width: 320px;
            margin: 0 0 0 auto;
            
            &-text {
              margin-bottom: 15px;
            }
            .podarok-variant {
              display: flex;
              justify-content: space-between;
            }
            .variant {
              &-title {
                  font-size: 12px;
              }
            }
        }
      }


      .podarok-vopros {
         width: 436px;
         background-color: $accent;
         padding: 30px 20px;
         &-title {
            font-size: 24px;
            font-weight: 900;
            color: #fff;
            margin-bottom: 30px;
         }
         &-text {
            font-size: 24px;
            font-weight: 900;
            color: #fff;
            margin-bottom: 25px;
         }         
         ul {
            padding: 0;
            margin-bottom: 40px;
         }
         li {
            list-style: none;
            text-align: left;
            position: relative;
            padding-left: 50px;
            margin-bottom: 25px;
            &::before {
               position: absolute;
               content: "";
               width: 26px;
               height: 24px;
               left: 0;
               top: 50%;
               transform: translateY(-50%);
               border: 3px solid #fff;
            }
         }
      }
      .polu4it-podarok {
         max-width: 400px;
         height: 86px;  
         background-color: #fff;
         display: flex;
         justify-content: space-between;
         align-items: center;
         margin: 0 auto 70px;
         padding: 15px;
         border: 0;
         border-radius: 30px;
         box-shadow: 2.5px 4.33px 9px 0px rgba(0, 0, 0, 0.5);
      }
   }

   &-contact {
     flex-direction: column;

      &-title {
         font-size: 24px;
         font-weight: 700;
         margin-bottom: 40px;
         letter-spacing: -1px;
         span {
            font-weight: 900;
            color: $accent;
         }
      }
      &-content {
         display: flex;
         justify-content: space-between;
      }
      .podarok-variant {
         max-width: 350px;
         margin-top: 120px;
         &-info {
            font-size: 14px;
            color: #555555;
            margin-top: 65px;
            text-align: left;
         }
         .variant {
            display: flex;
            align-items: center;
            padding-left: 50px;
            position: relative;
            margin-bottom: 20px;
            &-title {
               font-size: 14px;
               text-align: left;
            }
            &-img {
               margin-right: 20px;
               text-align: center;
               width: 55px;
            }
         }
      }
      &-form {
         width: 65%;
         &-title {
            font-size: 24px;
            font-weight: 500;
            color: $accent;
            text-align: left;
            margin-bottom: 35px;
            position: relative;
            &::before {
               content: "";
               position: absolute;
               width: 288px;
               height: 105px;
               background-image: url('../img/strelka.png');
               left: -300px;
               top: -10px;
            }
         }
         .button-div {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            .button {
               padding: 15px 20px;
               border-radius: 40px;
               &-small {
                  width: 188px;
               }
            }
         }
         .form-info {
            text-align: left;
            color: #555555;
         }
      }
   }

   &-equipment {
     flex-direction: column;
      &-content {
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
         align-items: flex-start;
         margin: 0 auto 30px;
      }
      .plus {
         margin-top: 40px;
      }
      &-text {
         font-weight: 500;
         margin-bottom: 20px;
      }
      
      .equipment {
         width: 180px;
         img {
            margin-bottom: 12px;
         }
         &-title {
            font-size: 14px;
            font-weight: normal;
            margin: 0;
         }
      }
   }

   &-thanks {
     padding-top: 200px;
     align-items: flex-start;
     justify-content: center;

     &-title {
       font-size: 35px;
       font-weight: bold;
       margin-bottom: 30px;
     }

     &-text {
       font-size: 24px;
       margin-bottom: 15px;
     }
   }

}

.remodal {
   &-small {
      max-width: 490px;
      padding: 50px 25px;
   }
}

.modal {
   text-align: center;
   &-title {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 50px;
   }
   form {
      margin: 0 auto;
      max-width: 320px;
   }
   .button {
      width: 100%;
      margin: 10px 0;
   }
}

@import './_media';